
main_test.py

__pycache__/main.cpython-37.pyc

flask/
venv/
react-app/court-science/node_modules/
.idea/CS_mvp.iml
.idea/misc.xml
.idea/modules.xml
.idea/rSettings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
courtscience.ca.key
courtscience.ca.pem
.vscode/launch.json
django/bootcamp/__pycache__/
__pycache__/