{% load static %}
<header id="header" class="transparent-nav">
	<div class="container">

		<div class="navbar-header">
			<!-- Logo -->
			<div class="navbar-brand">
				<a class="logo" href="/home">
					<img src="{% static 'img/logo-alt.png'%}" alt="logo">
				</a>
			</div>
			<!-- /Logo -->

			<!-- Mobile toggle -->
			<button class="navbar-toggle">
				<span></span>
			</button>
			<!-- /Mobile toggle -->
		</div>

		<!-- Navigation -->
		<nav id="nav">
			<ul class="main-menu nav navbar-nav navbar-right">
				<li><a href="/home">Home</a></li>
				<li><a href="/viz-lab">Viz Lab</a></li>
				<li><a href="/camp">Camp</a></li>
			</ul>
		</nav>
		<!-- /Navigation -->

	</div>
</header>