<!doctype html>
<html lang="en">
  <head>
  	{% load static %}
  	{% include 'head-items.html' %}
    <!-- Custom styles for this template -->
    <link href="{% static 'signin.css'%}" rel="stylesheet" type="text/css">
  </head>

  <body >
  	{% include 'navbar.html' %}
  	<div class="body-section-top" id="home">
  		    <form class="form-signin">
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
	</div>
  </body>
</html>
