[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=3.0.0"
psycopg2-binary = "*"
pip = "*"
install = "*"
whitenoise = "*"
wagtail = "*"
gunicorn ="*"
django-heroku="*"
django-dotenv="*"
dj_database_url="*"
[requires]
python_version = "3.7"
