<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Court Science - Virtual Camp</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navigation-bar">
        <ul class="navigation-bar">
            <li><div class="logo"><img src="{{ url_for('static', filename='Nuclear_Court Science Logo.png') }}" style='width: 200px' href="{{ url_for('home') }}#home"></div></li>
            <li class="navigation-bar-item" style="margin-right: 2%;"><a href="{{ url_for('camp') }}">CAMP</a></li>
            <li class="navigation-bar-item"><a href="{{ url_for('home') }}#contact">CONTACT</a></li>
            <li class="navigation-bar-item"><a href="{{ url_for('home') }}#demo">VIZ LAB</a></li>
            <li class="navigation-bar-item"><a href="{{ url_for('home') }}">HOME</a></li>
        </ul>
    </div>
    <h2 class="title" style="margin-top: 50px;">COURT SCIENCE CAMPS</h2>
    <object data="{{ url_for('static', filename='Court Science Camp Flyer.pdf') }}#view=Fit" type="application/pdf" style="width: 700px; height: 850px; display: block; margin: auto; margin-top: 20px;">
        <embed src="{{ url_for('static', filename='Court Science Camp Flyer.pdf') }}#view=Fit" type="application/pdf" />
    </object>
    <div class="registration-form" style="margin-top: 50px; margin-bottom: 10px;">
		<h4 class="title" style="font-size: 32px">Register Now</h4>
		<form action="https://formspree.io/xaypdvnj" method="POST">
              <div class="form-group">
                <label for="date">Date</label>
                <select class="form-control" id="date" name="date">
                    <option value="" name="" disabled selected>Select an available date</option>
                    <option value="July17" name="July17">Friday, July 17, 10 AM - 12 PM EST</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Full Name</label>
                <input class="form-control" type="text" id="name" name="name" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="school">School</label>
                <input class="form-control" type="text" id="school" name="school" placeholder="Enter School">
            </div>
            <div class="form-group">
                <label for="grade">Grade</label>
                <input class="form-control" type="text" id="grade" name="grade" placeholder="Enter Grade">
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input class="form-control" type="text" id="country" name="country" placeholder="Enter Country">
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input class="form-control" type="email" id="email" name="email" placeholder="Enter E-mail">
            </div>
            <div class="form-group">
                <label for="questions">Additional Comments</label>
                <textarea class="form-control" id="questions" name="questions-comments" rows="3" placeholder="Enter any questions or comments"></textarea>
            </div>
            <div class="form-check" style="margin-bottom: 5px;">
                <input type="checkbox" class="form-check-input" id="consent" name="consent">
                <label class="form-check-label" for="consent">I have read and agree to the terms and conditions outlined by the <a href="https://drive.google.com/file/d/1e7j1r38R5HWA55pnvbKxf85bvKEOHN7E/view?usp=sharing" target="_blank">Media Consent Form</a>.</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>