<!DOCTYPE html>
<html lang="en">
<head>
    <title>Court Science</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="{{ url_for('static', filename='papaparse.min.js') }}"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{ url_for('static', filename='Script/dataParser.js') }}"></script>
    <script src="{{ url_for('static', filename='Script/RadarChart.js') }}"></script>
    <script src="{{ url_for('static', filename='Script/groupedBarChart.js') }}"></script>
    <script src="{{ url_for('static', filename='Script/scatterChart.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navigation-bar">
        <ul class="navigation-bar">
            <li><div class="logo"><img src="{{ url_for('static', filename='Nuclear_Court Science Logo.png') }}" style='width: 200px'></div></li>
            <li class="navigation-bar-item" style="margin-right: 2%;"><a href="#contact">CONTACT</a></li>
            <li class="navigation-bar-item"><a href="#demo">VIZ LAB</a></li>
            <li class="navigation-bar-item"><a href="#home">HOME</a></li>
        </ul>
    </div>
    <div class="body-section-top" id="home">
        <h2 class="title">WHO WE ARE</h2>
        <p class="body-text">
            Court Science is a non-profit organization that aims to bridge the gap between STEM and sports by making the
            power of Data Science accessible to basketball enthusiasts worldwide, through our online interactive data
            visualization platform called the <a class="body-link" href="#demo">Visualization Lab</a> and community initiatives.
            In light of COVID-19, we have shifted all of our outreach efforts online (Youth Basketball Data Camp coming soon!),
            and hope that our simple yet powerful tools can empower you to explore new dimensions of your favourite sport
            through a STEM lens, while learning something new about Data Science. It's as easy as a few clicks and you're on
            your way!
        </p>
    </div>
    <div class="body-section-2" id="demo">
        <div style="margin-bottom: 50px;"><h2 class="title">VISUALIZATION LAB</h2></div>
        <b class="list-text" style="font-size: 36px;">5 Steps to Court Science Magic:</b>
        <ol class="list-text">
            <li>Select a sample NBA Dataset from the dropdown menu or upload your own spreadsheet (in CSV format).</li>
            <li>Select your chart type.</li>
            <li>Drag and drop the stats you'd like to plot into the 'Stats to Plot' box.</li>
            <li>Drag and drop the players you'd like to compare into the 'Players to Compare' box.</li>
            <li>Watch your visualizations being created in real-time and have fun!</li>
        </ol><br><br>
        <div style="margin-bottom: 50px; height: 70px">
        <div style="float: left; width: 100%">
        <div style="float: left; margin-right: 2%; margin-top: 18px;">
        <select id="drop-down" name="Data selection">
            <option value="">Select NBA Data Source</option>
            <option value="https://raw.githubusercontent.com/court-science/MVP/master/NBA%20Data/2019-2020%20NBA%20Player%20Stats.xlsx%20-%20Sheet1.csv">2019-2020 NBA Season</option>
            <option value="https://raw.githubusercontent.com/court-science/MVP/master/NBA%20Data/2018-2019%20NBA%20Player%20Stats.xlsx%20-%20Sheet1.csv">2018-2019 NBA Season</option>
            <option value="https://raw.githubusercontent.com/court-science/MVP/master/NBA%20Data/nba_draft_combine_all_years.csv">NBA Draft Combine</option>
        </select>
        </div>
        <div style="float: left; margin-right: 2%; margin-top: 18px;"><p>OR</p></div>
        <div style="float: left;"><input type="file" id="test" name="myCSV" accept=".csv"></div>
        </div>
        </div>
        <div>
        <div id='left-div' style="float: left; margin-right: 4%; width: 30%; height: 100%;">
            <!--
            <div class="spacing">
            <p>Chart Type</p>
            <div class='div-chart-type' id='chart-type'>

            <div style="float:left; width: 22%; height: 80px;">
            <label>
            <input id='radar-input' type="radio" name="test" value="small" checked>
            <img style="width: 100%; height: 100%" src="{{ url_for('static', filename='Radar_Chart_Button.png') }}">
            </label>
            </div>
            <div style="float:right; width: 22%; height: 80px;">
            <label>
            <input id='bar-input' type="radio" name="test" value="big">
            <img style="width: 100%; height: 100%" src="{{ url_for('static', filename='Bar_Chart_Button.png') }}">
            </label>
            </div>
            </div>

            </div>
            -->
            <div class="spacing" style="height: 100%;">
            <input type="text" class="searchInput" id="searchInputStats" onkeyup="searchBarStats()" placeholder="Search for stats">
            <p>Stats</p>
            <div class='div-container' id='drag-stats' ondrop='drop(event)' ondragover='allowDropStatsBack(event)'></div>
            </div>
            <div>
            <input type="text" class="searchInput" id="searchInputPlayers" onkeyup="searchBarPlayers()" placeholder="Search for players">
            <p>Players</p>
            <div class='div-container' id='drag-players' ondrop='drop(event)' ondragover='allowDropPlayersBack(event)'></div>
            </div>
            <div id='submit-reset' class='div-spacing'>
                <button type='button'  class='btn btn-outline-dark btn-lg' value='Reset' onclick='resetButton()' style='width: 100%'>Reset</button>
            </div>
        </div>
        <div id='right-div' style='float: left; width: 65%; height: 100%;'>
            <div id='chart-selection' style="float: left; width: 20%; margin-right: 5%; text-align: center;">
            <p style="text-align: center; font-size: 24px;"><b>Chart Type</b></p>
            <div style="margin-bottom: 1vh;">
            <div style="display: inline-block; width: 42%; margin-right:5%; margin-left: auto;">
            <label>
            <input id='radar-input' type="radio" name="radio-button" value="Radar" checked>
            <img style="width: 100%; height: 100%" title="Radar Chart" src="{{ url_for('static', filename='Radar_Chart_Button.png') }}">
            </label>
            </div>
            <div style="display: inline-block; width: 42%; margin-left:5%; margin-right: auto">
            <label>
            <input id='bar-input' type="radio" name="radio-button" value="Bar">
            <img style="width: 100%; height: 100%" title="Bar Chart" src="{{ url_for('static', filename='Bar_Chart_Button.png') }}">
            </label>
            </div>
            </div>
            <div>
            <div style="display: block; width: 42%; height: 80px; margin-left: auto; margin-right: auto;">
            <label>
            <input id='scatter-input' type="radio" name="radio-button" value="Bar">
            <img style="width: 100%; height: 100%" title="Scatter Chart" src="{{ url_for('static', filename='Scatter_Chart_Button.png') }}">
            </label>
            </div>
            </div>
            </div>
            <div id="stats-div" style="float: left; margin-right: 5%; width: 35%">
            <div>
            <p>Stats to Plot</p>
            <div class='drop-zone' id='drop-stats' ondrop='drop(event)' ondragover='allowDropStats(event)'></div>
            <p><i id='stats-message'>*Drop 3-7 stats</i></p>
            </div>
            </div>
            <div style="float: left; width: 35%">
            <p>Players to Compare</p>
            <div class='drop-zone' id='drop-players' ondrop='drop(event)' ondragover='allowDropPlayers(event)'></div>
            <p><i id='players-message'>*Drop 1-3 players</i></p>
            </div>
            <div id="chart-div" style="float: right; width: 100%; margin-top: 3%;">
            <img src="{{ url_for('static', filename='Radar-Chart.png') }}" id="starter-img" alt="Radar-Chart.png" class="display-chart">
            </div>
        </div>
        </div>
    </div>
    <div id="contact" class="body-section-1">
        <h2 class="title">GET IN TOUCH</h2>
        <p class="body-text" style="text-align: center;">
            We would love to hear from you, send us a shout below!
        </p>
        <a href="mailto:contact@courtscience.ca">
            <img alt="email" class="email-button"
                 src="https://farm4.staticflickr.com/3726/13855354235_887ae071c0_b.jpg">
        </a>
    </div>
<script>
    const inputElement = document.getElementById("test");
    const dropDown = document.getElementById("drop-down");
    const radar_input = document.getElementById('radar-input');
    const bar_input = document.getElementById('bar-input');
    const scatter_input = document.getElementById('scatter-input');
    const stats_div = document.getElementById('stats-div');
    var img_src = "static/Radar-Chart.png";
    //var dataFrame = [];
    var target_id = "";
    var max_players = 3;
    var min_players = 1;
    var max_stats = 7;
    var min_stats = 3;
    var checked_charts = ["Radar"];


    function allowDropStats(ev) {
        //console.log(target_id);
        var stats = document.getElementById('drop-stats').children.length;
        if (stats<max_stats && target_id.includes('stat')) ev.preventDefault();
    }

    function allowDropScatter(ev) {
        if(target_id.includes('stat')) ev.preventDefault();
    }

    function allowDropPlayers(ev) {
        //console.log(target_id);
        if (document.getElementById('drop-players').children.length<max_players && target_id.includes('name')) ev.preventDefault();
    }

    function allowDropPlayersBack(ev) {
        if(target_id.includes('name')) ev.preventDefault();
    }

    function allowDropStatsBack(ev) {
        if(target_id.includes('stat')) ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
        target_id = ev.target.id;
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        //console.log(data);
        ev.target.appendChild(document.getElementById(data));
        court_science_magic(inputCSV);
    }

    function dropScatter(ev) {
        ev.preventDefault();
        //console.log(data);
        if(ev.target.children.length == 1) {
            let stat = ev.target.children[0];
            ev.target.removeChild(stat);
            document.getElementById('drag-stats').appendChild(stat);
        }
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
        court_science_magic(inputCSV);
    }

    function disableDrop(ev) {
        ev.stopPropagation();
    }

    function CSV_to_parsed_df(data, rows, cols) {
        var obj_df = [];
        for (var i=1; i<data.length; i++) {
            var obj = {};
            for (var col of cols) {
                obj[data[0][col]] = data[i][col];
            }
            obj['Plot'] = rows.includes(i);
            obj_df.push(obj);
            //console.log(obj_df);
        }
        return obj_df;
    }

    function loadJSON(callback) {

        var xobj = new XMLHttpRequest();
            xobj.overrideMimeType("application/json");
        xobj.open('GET', 'static/Definitions.json', true); // Replace 'my_data' with the path to your file
        xobj.onreadystatechange = function () {
              if (xobj.readyState == 4 && xobj.status == "200") {
                // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
                callback(xobj.responseText);
              }
        };
        xobj.send(null);
     }

    function getHoverDefinition(stat, id) {
    loadJSON(function(response) {
    // Parse JSON string into object
        var JSON_parsed = JSON.parse(response);
        var stat_to_search = stat.toUpperCase();
        //console.log(JSON_parsed.hasOwnProperty(stat_to_search));
        if (JSON_parsed.hasOwnProperty(stat_to_search)) {
            document.getElementById(id).title = JSON_parsed[stat_to_search];
            //console.log(document.getElementById(id).title);
        }
        //console.log(JSON_parsed);
    });
    }


    function main(data) {
        //console.log(data);
        //var parsed_df = [[]];
        var lst_stats = [window.name_index];
        var lst_players = [];
        var players_children = document.getElementById('drop-players').children;
        var stats_children = [];
        if(!scatter_input.checked) stats_children = document.getElementById('drop-stats').children;
        else {stats_children.push(document.getElementById('drop-stats-x').children[0]);
            stats_children.push(document.getElementById('drop-stats-y').children[0]);}
        var div_to_add = document.getElementById('right-div');
        var chart = document.getElementById('chart-div');

        for (ch of stats_children) {
            lst_stats.push(parseInt(ch.value));
        }

        for (ch of players_children) {
            lst_players.push(parseInt(ch.value));
        }

        /*
        for (let i=1; i<window.num_stats + 1; i++) {
            var element_id = "stat" + i;
            if (document.getElementById(element_id).checked) {
                lst_stats.push(parseInt(document.getElementById(element_id).value));
            }
        }
        for (let i=1; i<window.num_players + 1; i++) {
            var element_id = "name" + i;
            if (document.getElementById(element_id).checked) {
                lst_players.push(parseInt(document.getElementById(element_id).value));
            }
        }
        */

        //console.log(lst_stats);
        //console.log(lst_players);

        var obj_df = CSV_to_parsed_df(data, lst_players, lst_stats);
        console.log(obj_df);

        /*
        for (const index of lst_stats) {
            parsed_df[0].push(data[0][index]);
        }
        for (const index of lst_players) {
            var new_lst = [];
            for (const stat of lst_stats) {
                new_lst.push(data[index][stat]);
            }
            parsed_df.push(new_lst);
        }
        console.log(parsed_df);

        //chart.innerHTML='';


        if (demo.contains(svg)) {
            var chart = document.getElementById('chart');
            chart.remove();
        }
        */
        chart.remove();
        div_to_add.insertAdjacentHTML('beforeend', "<div id='chart-div' style='float: left; width: 70%; margin-top: 20px; margin-left: 30px;'>");
        
        if(radar_input.checked) {
            //console.log("Plotting Radar Chart!");
            radarChart(obj_df);
        } else if(bar_input.checked) {
            //console.log("Plotting Bar Chart!");
            //////TESTING SCATTER
            groupedBarChart(obj_df);
            //scatterChart(obj_df);
        }
        else {
            scatterChart(obj_df);
        }
    }

    function court_science_magic (inputCSV) {
        Papa.parse(inputCSV, {
            download: true,
            dynamicTyping: true,
            complete: function(results) {
                if(scatter_input.checked) var stats = document.getElementById('drop-stats-x').children.length + document.getElementById('drop-stats-y').children.length;
                else var stats = document.getElementById('drop-stats').children.length;
                var players = document.getElementById('drop-players').children.length;
                console.log(stats);
                console.log(min_stats);
                if(stats >= min_stats && stats <= max_stats && players >= min_players && players <= max_players) {
                    main(results['data']);
                }
                /*
                else {
                    console.log("Please select " + min_stats + "-" + max_stats + " stats and " + min_players + "-" + max_players + " players to plot!");
                }
                */
            }
        });
    }

    function papaParse(inputCSV) {
        Papa.parse(inputCSV, {
            download: true,
            complete: function(results) {
                let df = results['data'];
                window.num_players = df.length - 1;
                let headers = df[0];
                //console.log(headers);
                let sample_data = df[1];
                let num_str = "0123456789";
                let headers_filtered = [];
                let headers_filtered_index = [];
                let count = 1;
                window.name_index = 0;
                let name_found = false;

                for (let i = 0; i < headers.length; i++) {
                    if (num_str.includes(sample_data[i][0])) {
                        headers_filtered.push(headers[i]);
                        headers_filtered_index.push(i);
                    }
                    if (headers[i].toUpperCase().includes("NAME") && !name_found) {
                        window.name_index = i;
                        name_found = true;
                    }
                }
                if(!name_found && inputCSV != "") {
                    alert("Please include a 'player name' column in your spreadsheet to identify players!")
                } else if(inputCSV == "") {
                    alert("Please select a file!")
                }
                else {
                    window.num_stats = headers_filtered.length;
                    //console.log(headers_filtered);

                    //let inner_div = document.getElementById("inner-div");
                    //inner_div.remove();
                    //let html_form = document.getElementById("form-div");
                    //var newDiv = document.createElement("div");
                    //newDiv.id = "inner-div";
                    //html_form.appendChild(newDiv);
                    //newDiv.insertAdjacentHTML('beforeend', "<p class='form-text'><b>Select your stats to visualize:</b></p><br>");
                    //newDiv.insertAdjacentHTML('beforeend', "<div id='stats' class='block spacing'><div id='stats-drag' class='inner'></div><div id='stats-drop' class='inner'></div></div>");
                    var stats_drag = document.getElementById('drag-stats');
                    var players_drag = document.getElementById('drag-players');
                    var players_drop = document.getElementById('drop-players');
                    stats_drag.innerHTML = '';
                    players_drag.innerHTML = '';
                    if(!scatter_input.checked) document.getElementById('drop-stats').innerHTML = '';
                    else {document.getElementById('drop-stats-x').innerHTML = ''; document.getElementById('drop-stats-y').innerHTML = '';}
                    players_drop.innerHTML = '';
                    //var stats_drop = document.getElementById('stats-drop');
                    //console.log(stats_drag);

                    /*
                    for (let i=0; i < headers_filtered.length; i++) {
                        let name = "'stat" + String(count) + "'";
                        let string_to_add = "<input type='checkbox' id=" + name + " value=" + "'"+ headers_filtered_index[i] + "'>" + headers_filtered[i] + "<br>\n" + "<input type='hidden' name=" + name + " value='false'>";
                        console.log(string_to_add);
                        newDiv.insertAdjacentHTML('beforeend', string_to_add);
                        count += 1;
                    }

                    var n = 1;
                    var id_new = "stats-" + n;
                    var id_tag = "'stats-" + n + "'";
                    stats_drag.insertAdjacentHTML('beforeend', "<div id=" + id_tag + " class='btn-group-vertical myButton'>");
                    console.log(stats_drag);
                    var div_to_add = document.getElementById(id_new);
                    console.log(div_to_add);

                     */

                    for (let i=0; i < headers_filtered.length; i++) {
                        /*
                        if (i != 0 && i % 10 == 0) {
                            n += 1;
                            id_new="stats-" + n;
                            id_tag = "'stats-" + n + "'";
                            stats_drag.insertAdjacentHTML('beforeend', "<div id=" + id_new + " class='btn-group-vertical myButton'>");
                            div_to_add = document.getElementById(id_new);
                        }
                        */
                        let name = "'stat" + String(count) + "'";
                        let id = "stat" + String(count);
                        let string_to_add = "<button type='button' style='margin-right: 2%; margin-bottom: 2%' class='btn btn-primary' ondragover='disableDrop(event)' ondrop='disableDrop(event)' name='" + headers_filtered[i] + "' draggable='true' ondragstart='drag(event)' id=" + name + " value=" + "'"+ headers_filtered_index[i] + "'>" + headers_filtered[i] + "</button>";
                        //console.log(string_to_add);
                        stats_drag.insertAdjacentHTML('beforeend', string_to_add);
                        getHoverDefinition(headers_filtered[i], id);
                        count += 1;
                    }

                    //stats_drop.insertAdjacentHTML('beforeend', "<div class='drop-zone' id='drop-stats' ondrop='drop(event)' ondragover='allowDropStats(event)'></div>");
                    count = 1;

                    /*
                    newDiv.insertAdjacentHTML('beforeend', "<div class='block spacing' id='players'><div id='players-drag' class='inner'></div><div id='players-drop' class='inner'></div></div>");
                    var players_drag = document.getElementById('players-drag');
                    var players_drop = document.getElementById('players-drop');
                    n = 1;
                    id_new = "players-" + n;
                    id_tag = "'players-" + n + "'";
                    players_drag.insertAdjacentHTML('beforeend', "<div id=" + id_tag + " class='btn-group-vertical myButton'>");
                    console.log(players_drag);
                    div_to_add = document.getElementById(id_new);
                    console.log(div_to_add);
                     */

                    for (let i = 1; i < df.length; i++) {
                        /*
                        if (i != 0 && i % 10 == 0) {
                            n += 1;
                            id_new="stats-" + n;
                            id_tag = "'stats-" + n + "'";
                            stats_drag.insertAdjacentHTML('beforeend', "<div id=" + id_new + " class='btn-group-vertical myButton'>");
                            div_to_add = document.getElementById(id_new);
                        }
                         */
                        let player_name = df[i][name_index];
                        let name = "'name" + String(count) + "'";
                        let name_attr = "'" + player_name + "'";
                        let string_to_add = "<button type='button' style='margin-right: 2%; margin-bottom: 2%' class='btn btn-primary' ondragover='disableDrop(event)' ondrop='disableDrop(event)' name=" + name_attr + " draggable='true' ondragstart='drag(event)' id=" + name + " value=" + "'"+ i + "'>" + player_name + "</button>";
                        //console.log(string_to_add);
                        players_drag.insertAdjacentHTML('beforeend', string_to_add);
                        count++;
                    }

                    //players_drop.insertAdjacentHTML('beforeend', "<div class='drop-zone' id='drop-players' ondrop='drop(event)' ondragover='allowDropPlayers(event)'></div>");

                    /*
                    newDiv.insertAdjacentHTML('beforeend', "<div class=\"btn-group btn-group-toggle spacing\" data-toggle=\"buttons\">\n" +
                        "  <label class=\"btn btn-secondary btn-lg active\">\n" +
                        "    <input type=\"radio\" name=\"radar\" id=\"radar\" autocomplete=\"off\" checked> Radar Chart\n" +
                        "  </label>\n" +
                        "  <label class=\"btn btn-secondary btn-lg\">\n" +
                        "    <input type=\"radio\" name=\"bar\" id=\"bar\" autocomplete=\"off\"> Bar Chart\n" +
                        "  </label>\n" +
                        "  <label class=\"btn btn-secondary btn-lg\">\n" +
                        "    <input type=\"radio\" name=\"pie\" id=\"pie\" autocomplete=\"off\"> Pie Chart\n" +
                        "  </label>\n" +
                        "</div>\n");

                    newDiv.insertAdjacentHTML('beforeend', "<div id='submit-reset' class='div-spacing'><button type='button'  class='btn btn-outline-dark btn-lg' value='Submit' onclick='court_science_magic(inputCSV)'>Submit</button>\n" +
                        "<button type='button'  class='btn btn-outline-dark btn-lg' value='Reset' onclick='resetButton()'>Reset</button></div>");

                     */
                }
            }
        });
    }

    function resetButton() {
        dropDown.disabled = false;
        inputElement.disabled = false;
        papaParse(inputCSV);
        document.getElementById('chart-div').remove();
        document.getElementById('right-div').insertAdjacentHTML('beforeend', "<div id='chart-div' style=\"float: right; width: 100%; margin-top: 3%;\"><img id=\"starter-img\" alt=\"Radar-Chart.png\" class=\"display-chart\"></div>");
        document.getElementById('starter-img').src = img_src;
    }


    var inputCSV = "";

    inputElement.addEventListener("change", handleFiles, false);
    function handleFiles() {
        inputCSV = this.files[0];
        papaParse(inputCSV);
        //let dataFrame = returnDF(inputCSV);
        dropDown.disabled = true;
    }

    dropDown.addEventListener("change", handleLocalFiles, false);
    function handleLocalFiles() {
        if (dropDown.value != "") {
            inputCSV = dropDown.value;
            papaParse(inputCSV);
            //console.log(d3.csv(dropDown.value));
            inputElement.disabled = true;
        }
    }


    var stats_message = document.getElementById('stats-message');
    var players_message = document.getElementById('players-message');
    var image_display = document.getElementById('starter-img');

    radar_input.addEventListener("change", handleRadar, false);
    function handleRadar() {
        if(radar_input.checked) {
            console.log(checked_charts[checked_charts.length-1]);
            if(checked_charts[checked_charts.length-1] == "Scatter") {
                resetButton();
                stats_div.innerHTML = "<div>\n" +
                    "            <p>Stats to Plot</p>\n" +
                    "            <div class='drop-zone' id='drop-stats' ondrop='drop(event)' ondragover='allowDropStats(event)'></div>\n" +
                    "            <p><i id='stats-message'>*Drop 3-7 stats</i></p>\n" +
                    "            </div>";
                document.getElementById('drop-players').innerHTML = '';
                document.getElementById('chart-div').remove();
                document.getElementById('right-div').insertAdjacentHTML('beforeend', "<div id='chart-div' style=\"float: right; width: 100%; margin-top: 3%;\"><img src=\"{{ url_for('static', filename='Radar-Chart.png') }}\" id=\"starter-img\" alt=\"Radar-Chart.png\" class=\"display-chart\"></div>");
            }
            var stats = document.getElementById('drop-stats').children.length;
            var players = document.getElementById('drop-players').children.length;
            stats_message.innerHTML = "*Drop 3-7 stats";
            players_message.innerHTML = "*Drop 1-3 players";
            max_players=3;
            max_stats=7;
            min_stats = 3;
            min_players = 1;
            if(stats==0 && players==0) document.getElementById('starter-img').src = 'static/Radar-Chart.png';
            img_src = "static/Radar-Chart.png";
            checked_charts.push("Radar");
            if(stats >= min_stats && stats <= max_stats && players >= min_players && players <= max_players) {
                court_science_magic(inputCSV)
            } else if((stats > 0 && stats < min_stats) || (stats > max_stats) || (players > 0 && players < min_players) || (players > max_players)) {
                document.getElementById('chart-div').remove();
                document.getElementById('right-div').insertAdjacentHTML('beforeend', "<div id='chart-div' style=\"float: right; width: 100%; margin-top: 3%;\"><img src=\"{{ url_for('static', filename='Radar-Chart.png') }}\" id=\"starter-img\" alt=\"Radar-Chart.png\" class=\"display-chart\"></div>");
                alert("Please select " + min_stats + "-" + max_stats + " stats and " + min_players + "-" + max_players + " players to plot!");
            }
        }
    }

    bar_input.addEventListener("change", handleBar, false);
    function handleBar() {
        if(bar_input.checked) {
            console.log(checked_charts[checked_charts.length-1]);
            if(checked_charts[checked_charts.length-1] == "Scatter") {
                resetButton();
                stats_div.innerHTML = "<div>\n" +
                    "            <p>Stats to Plot</p>\n" +
                    "            <div class='drop-zone' id='drop-stats' ondrop='drop(event)' ondragover='allowDropStats(event)'></div>\n" +
                    "            <p><i id='stats-message'>*Drop 1-5 stats</i></p>\n" +
                    "            </div>";
                document.getElementById('drop-players').innerHTML = '';
                document.getElementById('chart-div').remove();
                document.getElementById('right-div').insertAdjacentHTML('beforeend', "<div id='chart-div' style=\"float: right; width: 100%; margin-top: 3%;\"><img src=\"{{ url_for('static', filename='Bar-Chart (3).png') }}\" id=\"starter-img\" alt=\"Radar-Chart.png\" class=\"display-chart\"></div>")
            }
            var stats = document.getElementById('drop-stats').children.length;
            var players = document.getElementById('drop-players').children.length;
            stats_message.innerHTML = "*Drop 1-5 stats";
            players_message.innerHTML = "*Drop 2-5 players";
            max_players=5;
            max_stats=5;
            min_stats = 1;
            min_players = 2;
            if(stats==0 && players==0) document.getElementById('starter-img').src = 'static/Bar-Chart (3).png';
            img_src = "static/Bar-Chart (3).png";
            checked_charts.push("Bar");
            if(stats >= min_stats && stats <= max_stats && players >= min_players && players <= max_players) {
                court_science_magic(inputCSV)
            } else if((stats > 0 && stats < min_stats) || (stats > max_stats) || (players > 0 && players < min_players) || (players > max_players) || (stats > 0 && players < min_players)) {
                document.getElementById('chart-div').remove();
                document.getElementById('right-div').insertAdjacentHTML('beforeend', "<div id='chart-div' style=\"float: right; width: 100%; margin-top: 3%;\"><img src=\"{{ url_for('static', filename='Bar-Chart (3).png') }}\" id=\"starter-img\" alt=\"Radar-Chart.png\" class=\"display-chart\"></div>")
                alert("Please select " + min_stats + "-" + max_stats + " stats and " + min_players + "-" + max_players + " players to plot!");
            }
        }
    }

    scatter_input.addEventListener("change", handleScatter, false);
    function handleScatter() {
        if(scatter_input.checked) {
            console.log(checked_charts[checked_charts.length-1]);
            var stats = document.getElementById('drop-stats').children.length;
            var players = document.getElementById('drop-players').children.length;
            stats_message.innerHTML = "*Drop 2 stats";
            players_message.innerHTML = "*Drop players to highlight";
            max_players=100;
            max_stats=2;
            min_stats = 2;
            min_players = 0;
            document.getElementById('chart-div').remove();
            document.getElementById('right-div').insertAdjacentHTML('beforeend', "<div id='chart-div' style=\"float: right; width: 100%; margin-top: 3%;\"><img src=\"{{ url_for('static', filename='Scatter-Chart.png') }}\" id=\"starter-img\" alt=\"Radar-Chart.png\" class=\"display-chart\"></div>")
            document.getElementById('starter-img').src = 'static/Scatter-Chart.png';
            //console.log(document.getElementById('starter-img').src);
            img_src = "static/Scatter-Chart.png";
            resetButton();
            stats_div.innerHTML = "<div style='float: left; margin-right: 10%; width: 45%'>\n" +
                "            <p>X-Axis</p>\n" +
                "            <div class='drop-zone-scatter' id='drop-stats-x' ondrop='dropScatter(event)' ondragover='allowDropScatter(event)'></div>\n" +
                "            <p><i id='stats-message'>*Drop 1 stat</i></p>\n" +
                "            </div>" +
                "<div style='float: left; width: 45%'>\n" +
                "            <p>Y-Axis</p>\n" +
                "            <div class='drop-zone-scatter' id='drop-stats-y' ondrop='dropScatter(event)' ondragover='allowDropScatter(event)'></div>\n" +
                "            <p><i id='stats-message'>*Drop 1 stat</i></p>\n" +
                "            </div>";
            document.getElementById('drop-players').innerHTML = '';
            checked_charts.push("Scatter");
            if(stats >= min_stats && stats <= max_stats && players >= min_players && players <= max_players) {
                court_science_magic(inputCSV)
            }
            /*
            else {
                document.getElementById('chart-div').remove();
                document.getElementById('right-div').insertAdjacentHTML('beforeend', "<div id='chart-div' style='float: left; width: 100%; margin-top: 30px;'><img src=\"{{ url_for('static', filename='Scatter-Chart.png') }}\" id=\"starter-img\"></div>")
            }
            */
        }
    }

    function searchBarPlayers() {
      var input, filter, container, buttons, i, txtValue;
      input = document.getElementById('searchInputPlayers');
      filter = input.value.toUpperCase();
      container = document.getElementById("drag-players");
      buttons = container.getElementsByTagName('button');

      for (i = 0; i < buttons.length; i++) {
        txtValue = buttons[i].name;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          buttons[i].style.display = "";
        } else {
          buttons[i].style.display = "none";
        }
      }
    }

    function searchBarStats() {
      var input, filter, container, buttons, i, txtValue;
      input = document.getElementById('searchInputStats');
      filter = input.value.toUpperCase();
      container = document.getElementById("drag-stats");
      buttons = container.getElementsByTagName('button');

      for (i = 0; i < buttons.length; i++) {
        txtValue = buttons[i].name;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          buttons[i].style.display = "";
        } else {
          buttons[i].style.display = "none";
        }
      }
    }


</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>