<!DOCTYPE html>
<html lang="en">
<head>
    <title>Court Science</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="{{ url_for('static', filename='papaparse.min.js') }}"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="{{ url_for('static', filename='Script/groupedBarChart.js') }}"></script>
</head>
<body>
    <div class="navigation-bar">
        <ul class="navigation-bar">
            <li class="navigation-bar-item"><a href="#home">HOME</a></li>
            <li class="navigation-bar-item"><a href="#demo">DEMO</a></li>
            <li class="navigation-bar-item"><a href="#contact">CONTACT</a></li>
            <li><div class="logo"><img src="{{ url_for('static', filename='Nuclear_Court Science Logo.png') }}"
                                       width="200"></div></li>
        </ul>
    </div>
    <div class="body-section-top" id="home">
        <h2 class="title">WHO WE ARE</h2>
        <p class="body-text">
            Court Science is a web-based platform that makes the power of data science accessible
            to basketball players, coaches, and leagues worldwide. We aim to bridge the gap
            between STEM and sports, by leveraging data science to provide basketball enthusiasts
            with key data insights including visualizations, boosting their game to the next level.
            We're currently in our early stages of development, so please try out our demo and tell
            us what you think below!
        </p>
    </div>
    <div class="body-section-2" id="demo">
        <h2 class="title">TRY IT NOW</h2>
        <ol class="list-text">
            <li>Upload a csv file of your stats with the following format:</li>
                <ul>
                    <img class="spreadsheet" src="{{ url_for('static', filename='Screenshot (1).png') }}">
                    <li>The first 4 columns must contain general player info with mandatory labels at the top row: <b>"FULL NAME"</b>,
                    <b>"TEAM"</b>, <b>"POS"</b>, and <b>"AGE"</b>.</li>
                    <li>The rest of the columns can contain stats of your choice from the following label options: <b>"FTA"</b>,
                    <b>"FT%"</b>, <b>"2PA"</b>, <b>"2P%"</b>, <b>"3PA"</b>, <b>"3P%"</b>, <b>"PPG"</b>,
                    <b>"APG"</b>, <b>"RPG"</b>, <b>"SPG"</b>, <b>"BPG"</b></li>
                    <li>Ensure all labels are spelled exactly the same as above (case sensitive).</li>
                    <li>Leave boxes with missing info empty.</li>
                    <li>Once ready, download your spreadsheet as a CSV and upload it.</li>
                    <li>Don't have a spreadsheet? No problem, <a
                            href="https://storage.cloud.google.com/statsheet-storage-bucket/Sample.xlsx%20-%20Sheet1.csv" download>
                        <b>download our sample sheet</b></a>!</li>
                </ul>
            <li>Select the features you would like to visualize</li>
            <li>Click the "Submit" button to view your data visualized!</li>
        </ol><br><br>

        <p class="form-text"><b>Select a file:</b></p><br>
        <div class="block spacing">
        <div class="inner-input"><input type="file" id="test" name="myCSV" accept=".csv"></div>
        <div class="inner-input">
        <label for="drop-down">Choose data source:</label>
        <select id="drop-down" name="Data selection">
            <option value="">Select</option>
            <option value="https://raw.githubusercontent.com/court-science/MVP/master/2018-2019%20NBA%20Player%20Stats%20-%20Sheet1.csv">2018-2019 NBA Season</option>
        </select>
        </div>
        </div>
        <div>
        <div id='left-div' style="float: left; margin-right: 4%; width: 30%">
            <!--
            <div class="spacing">
            <p>Chart Type</p>
            <div class='div-chart-type' id='chart-type'>

            <div style="float:left; width: 22%; height: 80px;">
            <label>
            <input id='radar-input' type="radio" name="test" value="small" checked>
            <img style="width: 100%; height: 100%" src="{{ url_for('static', filename='Radar_Chart_Button.png') }}">
            </label>
            </div>
            <div style="float:right; width: 22%; height: 80px;">
            <label>
            <input id='bar-input' type="radio" name="test" value="big">
            <img style="width: 100%; height: 100%" src="{{ url_for('static', filename='Bar_Chart_Button.png') }}">
            </label>
            </div>
            </div>

            </div>
            -->
            <div class="spacing">
            <input type="text" class="searchInput" id="searchInputStats" onkeyup="searchBarStats()" placeholder="Search for stats">
            <p>Stats</p>
            <div class='div-container' id='drag-stats' ondrop='drop(event)' ondragover='allowDropStatsBack(event)'></div>
            </div>
            <div>
            <input type="text" class="searchInput" id="searchInputPlayers" onkeyup="searchBarPlayers()" placeholder="Search for players">
            <p>Players</p>
            <div class='div-container' id='drag-players' ondrop='drop(event)' ondragover='allowDropPlayersBack(event)'></div>
            </div>
            <div id='submit-reset' class='div-spacing'>
                <button type='button'  class='btn btn-outline-dark btn-lg' value='Plot It!' onclick='court_science_magic(inputCSV)' style='width: 70%'>Plot It!</button>
                <button type='button'  class='btn btn-outline-dark btn-lg' value='Reset' onclick='resetButton()' style='width: 29%'>Reset</button>
            </div>
        </div>
        <div id='right-div' style='float: left; width: 65%;'>
            <div id='chart-selection' style="float: left; width: 20%; margin-right: 5%; margin-top: 3%;">
            <p style="text-align: center; font-size: 24px;"><b>Chart Type</b></p>
            <div style="float:left; width: 42%; height: 80px;">
            <label>
            <input id='radar-input' type="radio" name="test" value="small" checked>
            <img style="width: 100%; height: 100%" src="{{ url_for('static', filename='Radar_Chart_Button.png') }}">
            </label>
            </div>
            <div style="float:right; width: 42%; height: 80px;">
            <label>
            <input id='bar-input' type="radio" name="test" value="big">
            <img style="width: 100%; height: 100%" src="{{ url_for('static', filename='Bar_Chart_Button.png') }}">
            </label>
            </div>
            </div>
            <div style="float: left; margin-right: 5%; width: 35%">
            <p>Stats to Plot</p>
            <div class='drop-zone' id='drop-stats' ondrop='drop(event)' ondragover='allowDropStats(event)'></div>
            <p><i id='stats-message'>*Maximum of 7 stats</i></p>
            </div>
            <div style="float: left; width: 35%">
            <p>Players to Compare</p>
            <div class='drop-zone' id='drop-players' ondrop='drop(event)' ondragover='allowDropPlayers(event)'></div>
            <p><i id='players-message'>*Maximum of 3 players</i></p>
            </div>
            <div id="chart-div" style="float: right; width: 100%; margin-top: 30px;">
            <img src="{{ url_for('static', filename='Radar_Chart_Button.png') }}" id="starter-img" height='500' style="float: right; width: 95%">
            </div>
        </div>
        </div>
    </div>
    <div id="contact" class="body-section-1">
        <h2 class="title">GET IN TOUCH</h2>
        <p class="body-text">
            We would love to hear from you, send us a shout below!
        </p>
        <a href="mailto:contact@courtscience.ca">
            <img alt="email" class="email-button"
                 src="https://farm4.staticflickr.com/3726/13855354235_887ae071c0_b.jpg">
        </a>
    </div>
<script>
    const inputElement = document.getElementById("test");
    const dropDown = document.getElementById("drop-down");
    //var dataFrame = [];
    var target_id = "";
    var max_players = 3;
    var max_stats = 7;


    function allowDropStats(ev) {
        console.log(target_id);
        if (document.getElementById('drop-stats').children.length<max_stats && target_id.includes('stat')) ev.preventDefault();
    }

    function allowDropPlayers(ev) {
        console.log(target_id);
        if (document.getElementById('drop-players').children.length<max_players && target_id.includes('name')) ev.preventDefault();
    }

    function allowDropPlayersBack(ev) {
        if(target_id.includes('name')) ev.preventDefault();
    }

    function allowDropStatsBack(ev) {
        if(target_id.includes('stat')) ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
        target_id = ev.target.id;
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        console.log(data);
        ev.target.appendChild(document.getElementById(data));
    }

    function main(data) {
        console.log(data);
        var parsed_df = [[]];
        var lst_stats = [window.name_index];
        var lst_players = [];
        var stats_children = document.getElementById('drop-stats').children;
        var players_children = document.getElementById('drop-players').children;

        for (ch of stats_children) {
            lst_stats.push(ch.value);
        }

        for (ch of players_children) {
            lst_players.push(ch.value);
        }

        /*
        for (let i=1; i<window.num_stats + 1; i++) {
            var element_id = "stat" + i;
            if (document.getElementById(element_id).checked) {
                lst_stats.push(parseInt(document.getElementById(element_id).value));
            }
        }
        for (let i=1; i<window.num_players + 1; i++) {
            var element_id = "name" + i;
            if (document.getElementById(element_id).checked) {
                lst_players.push(parseInt(document.getElementById(element_id).value));
            }
        }
        */

        console.log(lst_stats);
        console.log(lst_players);

        for (const index of lst_stats) {
            parsed_df[0].push(data[0][index]);
        }
        for (const index of lst_players) {
            var new_lst = [];
            for (const stat of lst_stats) {
                new_lst.push(data[index][stat]);
            }
            parsed_df.push(new_lst);
        }
        console.log(parsed_df);
        var div_to_add = document.getElementById('right-div');
        var chart = document.getElementById('chart-div');
        //chart.innerHTML='';

        /*
        if (demo.contains(svg)) {
            var chart = document.getElementById('chart');
            chart.remove();
        }
        */
        chart.remove();
        div_to_add.insertAdjacentHTML('beforeend', "<div id='chart-div' style='float: right; width: 70%; margin-top: 30px;'><svg height='500' style='float: right; width: 95%'></svg></div>");
        groupedBarChart(parsed_df);
        //console.log(demo);
    }

    function court_science_magic (inputCSV) {
        Papa.parse(inputCSV, {
            download: true,
            dynamicTyping: true,
            complete: function(results) {
                if(document.getElementById('drop-stats').children.length >=1 && document.getElementById('drop-players').children.length >=1) {
                    main(results['data']);
                }
                else {
                    alert("Please select stats and players to plot!")
                }
            }
        });
    }

    function papaParse(inputCSV) {
        Papa.parse(inputCSV, {
            download: true,
            complete: function(results) {
                let df = results['data'];
                window.num_players = df.length - 1;
                let headers = df[0];
                console.log(headers);
                let sample_data = df[1];
                let num_str = "0123456789";
                let headers_filtered = [];
                let headers_filtered_index = [];
                let count = 1;
                window.name_index = 0;
                let name_found = false;

                for (let i = 0; i < headers.length; i++) {
                    if (num_str.includes(sample_data[i][0])) {
                        headers_filtered.push(headers[i]);
                        headers_filtered_index.push(i);
                    }
                    if (headers[i].toUpperCase().includes("NAME") || !name_found) {
                        window.name_index = i;
                        name_found = true;
                    }
                }

                window.num_stats = headers_filtered.length;
                console.log(headers_filtered);

                //let inner_div = document.getElementById("inner-div");
                //inner_div.remove();
                //let html_form = document.getElementById("form-div");
                //var newDiv = document.createElement("div");
                //newDiv.id = "inner-div";
                //html_form.appendChild(newDiv);
                //newDiv.insertAdjacentHTML('beforeend', "<p class='form-text'><b>Select your stats to visualize:</b></p><br>");
                //newDiv.insertAdjacentHTML('beforeend', "<div id='stats' class='block spacing'><div id='stats-drag' class='inner'></div><div id='stats-drop' class='inner'></div></div>");
                var stats_drag = document.getElementById('drag-stats');
                var players_drag = document.getElementById('drag-players');
                var stats_drop = document.getElementById('drop-stats');
                var players_drop = document.getElementById('drop-players');
                stats_drag.innerHTML = '';
                players_drag.innerHTML = '';
                stats_drop.innerHTML = '';
                players_drop.innerHTML = '';
                //var stats_drop = document.getElementById('stats-drop');
                //console.log(stats_drag);

                /*
                for (let i=0; i < headers_filtered.length; i++) {
                    let name = "'stat" + String(count) + "'";
                    let string_to_add = "<input type='checkbox' id=" + name + " value=" + "'"+ headers_filtered_index[i] + "'>" + headers_filtered[i] + "<br>\n" + "<input type='hidden' name=" + name + " value='false'>";
                    console.log(string_to_add);
                    newDiv.insertAdjacentHTML('beforeend', string_to_add);
                    count += 1;
                }

                var n = 1;
                var id_new = "stats-" + n;
                var id_tag = "'stats-" + n + "'";
                stats_drag.insertAdjacentHTML('beforeend', "<div id=" + id_tag + " class='btn-group-vertical myButton'>");
                console.log(stats_drag);
                var div_to_add = document.getElementById(id_new);
                console.log(div_to_add);

                 */

                for (let i=0; i < headers_filtered.length; i++) {
                    /*
                    if (i != 0 && i % 10 == 0) {
                        n += 1;
                        id_new="stats-" + n;
                        id_tag = "'stats-" + n + "'";
                        stats_drag.insertAdjacentHTML('beforeend', "<div id=" + id_new + " class='btn-group-vertical myButton'>");
                        div_to_add = document.getElementById(id_new);
                    }
                    */
                    let name = "'stat" + String(count) + "'";
                    let string_to_add = "<button type='button' style='margin-right: 2%; margin-bottom: 2%' class='btn btn-primary' name='" + headers_filtered[i] + "' draggable='true' ondragstart='drag(event)' id=" + name + " value=" + "'"+ headers_filtered_index[i] + "'>" + headers_filtered[i] + "</button>";
                    console.log(string_to_add);
                    stats_drag.insertAdjacentHTML('beforeend', string_to_add);
                    count += 1;
                }

                //stats_drop.insertAdjacentHTML('beforeend', "<div class='drop-zone' id='drop-stats' ondrop='drop(event)' ondragover='allowDropStats(event)'></div>");
                count = 1;

                /*
                newDiv.insertAdjacentHTML('beforeend', "<div class='block spacing' id='players'><div id='players-drag' class='inner'></div><div id='players-drop' class='inner'></div></div>");
                var players_drag = document.getElementById('players-drag');
                var players_drop = document.getElementById('players-drop');
                n = 1;
                id_new = "players-" + n;
                id_tag = "'players-" + n + "'";
                players_drag.insertAdjacentHTML('beforeend', "<div id=" + id_tag + " class='btn-group-vertical myButton'>");
                console.log(players_drag);
                div_to_add = document.getElementById(id_new);
                console.log(div_to_add);
                 */

                for (let i = 1; i < df.length; i++) {
                    /*
                    if (i != 0 && i % 10 == 0) {
                        n += 1;
                        id_new="stats-" + n;
                        id_tag = "'stats-" + n + "'";
                        stats_drag.insertAdjacentHTML('beforeend', "<div id=" + id_new + " class='btn-group-vertical myButton'>");
                        div_to_add = document.getElementById(id_new);
                    }
                     */
                    let player_name = df[i][name_index];
                    let name = "'name" + String(count) + "'";
                    let name_attr = "'" + player_name + "'";
                    let string_to_add = "<button type='button' style='margin-right: 2%; margin-bottom: 2%' class='btn btn-primary' name=" + name_attr + " draggable='true' ondragstart='drag(event)' id=" + name + " value=" + "'"+ i + "'>" + player_name + "</button>";
                    players_drag.insertAdjacentHTML('beforeend', string_to_add);
                    count++;
                }

                //players_drop.insertAdjacentHTML('beforeend', "<div class='drop-zone' id='drop-players' ondrop='drop(event)' ondragover='allowDropPlayers(event)'></div>");

                /*
                newDiv.insertAdjacentHTML('beforeend', "<div class=\"btn-group btn-group-toggle spacing\" data-toggle=\"buttons\">\n" +
                    "  <label class=\"btn btn-secondary btn-lg active\">\n" +
                    "    <input type=\"radio\" name=\"radar\" id=\"radar\" autocomplete=\"off\" checked> Radar Chart\n" +
                    "  </label>\n" +
                    "  <label class=\"btn btn-secondary btn-lg\">\n" +
                    "    <input type=\"radio\" name=\"bar\" id=\"bar\" autocomplete=\"off\"> Bar Chart\n" +
                    "  </label>\n" +
                    "  <label class=\"btn btn-secondary btn-lg\">\n" +
                    "    <input type=\"radio\" name=\"pie\" id=\"pie\" autocomplete=\"off\"> Pie Chart\n" +
                    "  </label>\n" +
                    "</div>\n");

                newDiv.insertAdjacentHTML('beforeend', "<div id='submit-reset' class='div-spacing'><button type='button'  class='btn btn-outline-dark btn-lg' value='Submit' onclick='court_science_magic(inputCSV)'>Submit</button>\n" +
                    "<button type='button'  class='btn btn-outline-dark btn-lg' value='Reset' onclick='resetButton()'>Reset</button></div>");

                 */
            }
        });
    }

    function resetButton() {
        dropDown.disabled = false;
        inputElement.disabled = false;
        papaParse(inputCSV);
    }


    var inputCSV = "";

    inputElement.addEventListener("change", handleFiles, false);
    function handleFiles() {
        inputCSV = this.files[0];
        papaParse(inputCSV);
        //let dataFrame = returnDF(inputCSV);
        dropDown.disabled = true;
    }

    dropDown.addEventListener("change", handleLocalFiles, false);
    function handleLocalFiles() {
        if (dropDown.value != "") {
            inputCSV = dropDown.value;
            papaParse(inputCSV);
            //console.log(d3.csv(dropDown.value));
            inputElement.disabled = true;
        }
    }

    var radar_input = document.getElementById('radar-input');
    var bar_input = document.getElementById('bar-input');
    var stats_message = document.getElementById('stats-message');
    var players_message = document.getElementById('players-message');
    var image_display = document.getElementById('starter-img');

    radar_input.addEventListener("change", handleRadar, false);
    function handleRadar() {
        if(radar_input.checked) {
            stats_message.innerHTML = "*Maximum of 7 stats";
            players_message.innerHTML = "*Maximum of 3 players";
            max_players=3;
            max_stats=7;
            image_display.src = 'static/Radar_Chart_Button.png';
        }
    }

    bar_input.addEventListener("change", handleBar, false);
    function handleBar() {
        if(bar_input.checked) {
            stats_message.innerHTML = "*Maximum of 5 stats";
            players_message.innerHTML = "*Maximum of 5 players;"
            max_players=5;
            max_stats=5;
            image_display.src = 'static/Bar-Chart (3).png';
        }
    }

    function searchBarPlayers() {
      var input, filter, container, buttons, i, txtValue;
      input = document.getElementById('searchInputPlayers');
      filter = input.value.toUpperCase();
      container = document.getElementById("drag-players");
      buttons = container.getElementsByTagName('button');

      for (i = 0; i < buttons.length; i++) {
        txtValue = buttons[i].name;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          buttons[i].style.display = "";
        } else {
          buttons[i].style.display = "none";
        }
      }
    }

    function searchBarStats() {
      var input, filter, container, buttons, i, txtValue;
      input = document.getElementById('searchInputStats');
      filter = input.value.toUpperCase();
      container = document.getElementById("drag-stats");
      buttons = container.getElementsByTagName('button');

      for (i = 0; i < buttons.length; i++) {
        txtValue = buttons[i].name;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          buttons[i].style.display = "";
        } else {
          buttons[i].style.display = "none";
        }
      }
    }


</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>