<!DOCTYPE html>
<html lang="en">
<head>
    <title>Court Science</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
     <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <div class="navigation-bar">
        <ul class="navigation-bar">
            <li class="navigation-bar-item"><a href="#home">HOME</a></li>
            <li class="navigation-bar-item"><a href="#demo">DEMO</a></li>
            <li class="navigation-bar-item"><a href="#contact">CONTACT</a></li>
            <li><div class="logo"><img src="{{ url_for('static', filename='Nuclear_Court Science Logo.png') }}"
                                       width="200"></div></li>
        </ul>
    </div>
    <div class="body-section-top" id="home">
        <h2 class="title">WHO WE ARE</h2>
        <p class="body-text">
            Court Science is a web-based platform that makes the power of data science accessible
            to basketball players, coaches, and leagues worldwide. We aim to bridge the gap
            between STEM and sports, by leveraging data science to provide basketball enthusiasts
            with key data insights including visualizations, boosting their game to the next level.
            We're currently in our early stages of development, so please try out our demo and tell
            us what you think below!
        </p>
    </div>
    <div class="body-section-2" id="demo">
        <h2 class="title">TRY IT NOW</h2>
        <ol class="list-text">
            <li>Upload a csv file of your stats with the following format:</li>
                <ul>
                    <img class="spreadsheet" src="{{ url_for('static', filename='Screenshot (1).png') }}">
                    <li>The first 4 columns must contain general player info with mandatory labels at the top row: <b>"FULL NAME"</b>,
                    <b>"TEAM"</b>, <b>"POS"</b>, and <b>"AGE"</b>.</li>
                    <li>The rest of the columns can contain stats of your choice from the following label options: <b>"FTA"</b>,
                    <b>"FT%"</b>, <b>"2PA"</b>, <b>"2P%"</b>, <b>"3PA"</b>, <b>"3P%"</b>, <b>"PPG"</b>,
                    <b>"APG"</b>, <b>"RPG"</b>, <b>"SPG"</b>, <b>"BPG"</b></li>
                    <li>Ensure all labels are spelled exactly the same as above (case sensitive).</li>
                    <li>Leave boxes with missing info empty.</li>
                    <li>Once ready, download your spreadsheet as a CSV and upload it.</li>
                    <li>Don't have a spreadsheet? No problem, <a
                            href="https://storage.cloud.google.com/statsheet-storage-bucket/Sample.xlsx%20-%20Sheet1.csv" download>
                        <b>download our sample sheet</b></a>!</li>
                </ul>
            <li>Select the features you would like to visualize</li>
            <li>Click the "Submit" button to view your data visualized!</li>
        </ol><br><br>
        <form action="{{ url_for('main')}}" method="post" enctype="multipart/form-data">
            <p class="form-text"><b>Select a file:</b></p><br>
            <input type="file" name="myCSV" accept=".csv"><br><br>
            <p class="form-text"><b>Select 5 applicable stats to visualize:</b></p><br>
            <input type="checkbox" name="stat1" value="FTA">FTA<br>
            <input type="hidden"   name="stat1" value="false">
            <input type="checkbox" name="stat2" value="FT%">FT%<br>
            <input type="hidden"   name="stat2" value="false">
            <input type="checkbox" name="stat3" value="2PA">2PA<br>
            <input type="hidden"   name="stat3" value="false">
            <input type="checkbox" name="stat4" value="2P%">2P%<br>
            <input type="hidden"   name="stat4" value="false">
            <input type="checkbox" name="stat5" value="3PA">3PA<br>
            <input type="hidden"   name="stat5" value="false">
            <input type="checkbox" name="stat6" value="3P%">3P%<br>
            <input type="hidden"   name="stat6" value="false">
            <input type="checkbox" name="stat7" value="PPG">PPG<br>
            <input type="hidden"   name="stat7" value="false">
            <input type="checkbox" name="stat8" value="APG">APG<br>
            <input type="hidden"   name="stat8" value="false">
            <input type="checkbox" name="stat9" value="RPG">RPG<br>
            <input type="hidden"   name="stat9" value="false">
            <input type="checkbox" name="stat10" value="SPG">SPG<br>
            <input type="hidden"   name="stat10" value="false">
            <input type="checkbox" name="stat11" value="BPG">BPG<br><br><br>
            <input type="hidden"   name="stat11" value="false">
            <input type="submit" value="Submit">
            <input type="reset">
        </form>
    </div>
    <div id="contact" class="body-section-1">
        <h2 class="title">GET IN TOUCH</h2>
        <p class="body-text">
            We would love to hear from you, send us a shout below!
        </p>
        <a href="mailto:admin@courtscience.ca">
            <img alt="email" class="email-button"
                 src="https://farm4.staticflickr.com/3726/13855354235_887ae071c0_b.jpg">
        </a>
    </div>
<script>

</script>
</body>
</html>